* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexBox, .header, .header #search, section:first-of-type > div:first-of-type, .container > div:first-of-type, .container > div:first-of-type .book_box > div, #modal, #modal .form-container form > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section:first-of-type > div:first-of-type span:first-of-type:before, section:first-of-type > div:first-of-type span:last-of-type:before {
  content: "";
  width: 40px;
  height: 1px;
  background: #eb5f60;
  position: absolute;
  top: 55%;
}

.header {
  padding-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}

.header #search {
  max-width: 670px;
  width: 100%;
  height: 53px;
  background: #f8fafd;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: 1px solid #f8fafd;
}

.header #search input {
  border: none;
  outline: none;
  background: #f8fafd;
  max-width: 600px;
  width: 100%;
  height: 40px;
  border-radius: 30px;
}

.header #search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.24);
  font-size: 13px;
}

.header #search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.24);
  font-size: 13px;
}

.header #search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.24);
  font-size: 13px;
}

.header #search input::placeholder {
  color: rgba(0, 0, 0, 0.24);
  font-size: 13px;
}

section:first-of-type > h1 {
  text-align: center;
  text-transform: capitalize;
  color: #444444;
  margin-top: 10px;
  font-size: 38px;
}

section:first-of-type > div:first-of-type {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

section:first-of-type > div:first-of-type i {
  color: #eb5f60;
}

section:first-of-type > div:first-of-type span {
  width: 5px;
  height: 5px;
  border: 1px solid #eb5f60;
  position: relative;
  margin: 4px 15px 4px;
}

section:first-of-type > div:first-of-type span:first-of-type:before {
  right: 100%;
}

section:first-of-type > div:first-of-type span:last-of-type:before {
  left: 100%;
}

.container > div:first-of-type {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px 40px;
  gap: 20px;
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
}

.container > div:first-of-type .book_box {
  margin: 10px 30px;
}

.container > div:first-of-type .book_box > div {
  border: 1px solid #ebebeb;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container > div:first-of-type .book_box > div > img {
  width: 268px;
  height: 400px;
  margin-bottom: 20px;
}

.container > div:first-of-type .book_box:hover {
  border: 4px solid #eb5f60;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#add-book {
  background-color: #eb5f60;
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 12px 15px;
  border-radius: 15px;
  border: 1px solid #eb5f60;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 4;
}

#modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal .form-container {
  background-color: #eb5f60;
  width: 100%;
  max-width: 500px;
  height: 380px;
  padding: 20px;
  position: relative;
  border-radius: 15px;
}

#modal .form-container h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}

#modal .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 460px;
  height: auto;
}

#modal .form-container form label {
  font-size: 20px;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

#modal .form-container form input {
  outline: none;
  border: 1px solid #eb5f60;
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  height: 25px;
  padding: 8px;
}

#modal .form-container form > div:last-of-type input[type="submit"] {
  width: 100px;
  height: 30px;
  border: 1px solid transparent;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

#modal .form-container form > div:last-of-type input[type="submit"]:hover {
  background-color: #eb5f60;
  border: 1px solid #f8fafd;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  background-color: #eb5f60;
  padding: 8px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 9px;
  width: 160px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

input[type="file"] + label:hover {
  background-color: #ffffff;
  color: #eb5f60;
  border: 2px solid #eb5f60;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

#sun {
  display: none;
}

#dark {
  width: 40px;
}
/*# sourceMappingURL=main.css.map */